.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.container-fuild {
    padding: 0 50px;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@700&display=swap");
body {
    font-family: "Roboto", sans-serif;
}